# 카카오 개발자센터 > 내 애플리케이션 > 앱 키 > JavaScript 키
# https://developers.kakao.com
NUXT_PUBLIC_KAKAO_MAP_KEY=

# Supabase > Project Settings > API
# https://supabase.com/dashboard
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_ANON_KEY=
